<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>500 – Mediscreen App</title>
    <link rel="stylesheet" type="text/css" href="../../static/bootstrap/bootstrap.min.css"
          th:href="@{bootstrap/bootstrap.min.css}" />
    <script type="text/javascript" src="../../static/bootstrap/bootstrap.min.js"
            th:src="@{bootstrap/bootstrap.min.js}"></script>
</head>
<body style="background-color: seagreen; color: #fafafa;">
<table class="container text-center" style="height: 100vh;">
    <tbody>
    <tr>
        <td class="align-middle">
            <img src="../../static/images/404.png" th:src="@{images/500.png}"
                 height="160" alt="logo" style="margin-bottom: 15px;">
            <h1>Erreur 500</h1>
            <h3>Service indisponible. Veuillez réessayer plus tard.</h3>
            <a th:href="@{/}" class="btn btn-secondary btn-sm" style="min-height: 50px;
                        min-width: 200px; font-size: 21px; border-color: white;
                        margin-top: 15px;">Revenir à l'Accueil</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
