<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Liste des patients | Mediscreen App</title>
        <link rel="stylesheet" type="text/css" href="../../static/bootstrap/bootstrap.min.css"
              th:href="@{bootstrap/bootstrap.min.css}" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-6"></div>
                <div class="col-6 text-right" style="margin-top: 10px;">
                    <a th:href="@{/}" class="btn btn-secondary btn-sm" style="min-height: 30px;
                        min-width: 120px; font-size: 16px; border-color: white;">Revenir à l'Accueil</a>
                </div>
            </div>
            <div class="row"><h2>Liste des patients</h2></div>
            <div class="row">
                <form action="#" th:action="@{'/patientList'}" th:method="delete" >
                    <a href="/patient/add" class="btn btn-primary btn-sm" style="margin-right: 10px;
                    margin-bottom: 10px;">Ajouter un patient</a>
                    <input type="hidden" name="_method" value="delete" />
                    <button type="submit" id="submitAllButton" class="btn btn-danger btn-sm" style="margin-right: 10px;
                    margin-bottom: 10px;">Tout supprimer</button>
                </form>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Sexe</th>
                        <th>Date de naissance</th>
                        <th>Adresse postale</th>
                        <th>Téléphone</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="patient : ${patientList}">
                            <td th:text="${patient.patientId}"></td>
                            <td th:text="${patient.firstName}"></td>
                            <td th:text="${patient.lastName}"></td>
                            <td th:text="${patient.gender}"></td>
                            <td th:text="${patient.birthDate}"></td>
                            <td th:text="${patient.address}"></td>
                            <td th:text="${patient.phone}"></td>
                            <td style="width: 15%" class="text-center">
                                <form action="#" th:action="@{'/patient/{patientId}'(id=${patient.patientId})}"
                                      th:method="delete"  style="display: flex;">
                                    <a th:href="@{/patient/update/{patientId}(id=${patient.patientId})}"
                                       class="btn btn-primary btn-sm" style="margin-right: 10px;">Modifier</a>
                                    <input type="hidden" name="_method" value="delete" />
                                    <button type="submit" id="submitButton" class="btn btn-danger btn-sm">
                                        Supprimer
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
